.calender {
  width: 70%;
  height: 70%;
  color: #dfdfdf;

  .divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    opacity: 0.46;
    margin: 5px 0px 5px 0px;
  }

  .header {
    width: 100%;
    height: 10%;
    justify-content: space-between;

    .icon {
      color: #dfdfdf !important;
      opacity: 0.67;
      width: 20px;
      height: 15px;
    }

    .monthTitle {
      span {
        margin: 10px;
      }
    }
  }

  .datesWrapper {
    width: 100%;
    flex-wrap: wrap;
    height: 80%;
    align-items: center;
    justify-content: space-between;

    .datesColumn {
      height: 100%;
      justify-content: space-between;
    }

    .dateItem {
      width: 33px;
      height: 30px;
      cursor: pointer;
      transition: 0.3s all;
    }

    .dateItem:hover {
      background: #fdd000;
      color: #3d3d3d;
    }

    .notActual {
      opacity: 0.24;
    }
  }

  .footer {
    width: 100%;
    height: 10%;
    justify-content: space-between;
  }

  @media screen and (max-width: 400px) {
    width: 95%;
    height: 100%;
  }
}
