.background {
  width: 100%;
  height: 85%;
  position: absolute;
  background: rgba(39, 40, 41, 0.8);
  z-index: 1;
  animation: append 0.5s linear 1;

  .popup {
    width: 30%;
    align-self: center;
    justify-self: center;
    height: 140px;
    background: white;
    justify-content: flex-start;

    .header {
      width: 100%;
      height: 28px;
      justify-content: flex-end;

      .yellowBox {
        width: 28px;
        height: 28px;
        background: #fdd000;
        cursor: pointer;
      }
    }

    .wrapper {
      width: 90%;
      height: 80%;
      align-items: flex-end;

      .inputContainer {
        width: 40%;
        height: 100%;
        margin: 10px;
        font-family: "Rubik", sans-serif;

        input {
          box-shadow: 0px 0px 25px #0000000d;
          border: 2px solid #fdd000;
          width: 95%;
          height: 30%;
          font-size: 20px;
          letter-spacing: 0.66px;
          color: #3d3d3d;
          font-weight: bold;
          padding: 5px;
        }

        span {
          font-size: 18px;
          color: #a2a2a2;
          align-self: flex-start;
        }
      }
    }

    @media screen and (max-width: 700px) {
      width: 90%;
      height: 30%;
    }
  }

  @media screen and (max-width: 500px) {
    height: 90%;
  }
}

@keyframes append {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
